body{
    margin: 30px;
    padding: 15px;
}
.col-md-4
{
    float: left;
    background-color: black;
}
.copy
{
    padding-top:13.5px;
}
span
{
    color: red;
}
.new2
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    background-color: yellow;
    color: black;
    text-align: center;
}