<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>men</title>
</head>
<body>
<div class="back">
  <a routerLink="/home"><h2><i class="fa-solid fa-arrow-left"></i>Back</h2></a>
</div>
<h2 class="new2">NEW ARRIVALS</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="./assets\images\men1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4><em>nike air 5</em></h4><br>
          <h6>men's shoes</h6>
          <del>4000</del>&nbsp;<span>$2999</span>
          <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
          <a routerLink="/mycart"><h5>Add Cart</h5></a>
         </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src=".\assets\images\men2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4><em>addidas eco one</em></h4><br>
            <h6>sport's shoes</h6>
            <del>3500</del>&nbsp;<span>$1999</span>
            <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
            <a routerLink="/mycart"><h5>Add Cart</h5></a>
         </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src=".\assets\images\men3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4><em>nike weartwo</em></h4><br>
            <h6>casual shoes</h6>
            <del>2700</del>&nbsp;<span>$1499</span>
            <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
            <a routerLink="/mycart"><h5>Add Cart</h5></a>
         </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src=".\assets\images\men7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4><em>nike weare duo</em></h4><br>
            <h6>casual's shoes</h6>
            <del>6000</del>&nbsp;<span>$3999</span>
            <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
            <a routerLink="/mycart"><h5>Add Cart</h5></a>
    </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src=".\assets\images\men9.jpg"class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>nike air mem</em></h4><br>
          <h6>sports shoes</h6>
          <del>9000</del>&nbsp;<span>$5999</span>
          <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
          <a routerLink="/mycart"><h5>Add Cart</h5></a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\men6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>addidas</em></h4><br>
            <h6>casual's</h6>
            <del>1999</del>&nbsp;<span>$999</span>
            <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
            <a routerLink="/mycart"><h5>Add Cart</h5></a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\t3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>nike</em></h4><br>
          <h6>hoodies</h6>
          <del>2999</del>&nbsp;<span>$1999</span>
          <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
          <a routerLink="/mycart"><h5>Add Cart</h5></a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\t1.jpg"class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>addidas</em></h4><br>
            <h6>tshrit</h6>
            <del>1200</del>&nbsp;<span>$599</span>
            <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
            <a routerLink="/mycart"><h5>Add Cart</h5></a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\t2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>addidas</em></h4><br>
          <h6>t shrit</h6>
          <del>1999</del>&nbsp;<span>$999</span>
          <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
          <a routerLink="/mycart"><h5>Add Cart</h5></a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\paint1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>nike</em></h4><br>
            <h6>track paint</h6>
            <del>1499</del>&nbsp;<span>$999</span>
            <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
            <a routerLink="/mycart"><h5>Add Cart</h5></a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\pant3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>Paris Saint-Germain </em></h4><br>
            <h6>Over-the-Calf Football Socks</h6>
            <del>999</del>&nbsp;<span>$499</span>
            <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
            <a routerLink="/mycart"><h5>Add Cart</h5></a>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\pant2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>Nike Dri-FIT Wild Run Flex Stride</em></h4><br>
          <h6>Men's Brief-Lined Running Shorts</h6>
          <del>1999</del>&nbsp;<span>$999</span>
          <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
          <a routerLink="/mycart"><h5>Add Cart</h5></a>
  </div>
  </div>
  </div>
  </div>
  <div class="footer">
    <div class="col-md-12">
      <div class="col-md-4">
        <p><a href="#" id ="links"><h3>FIND A STORE</h3></a></p>
              <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-home"></span>BECOME A MEMBER</p></a></p> 	 	
        <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-envelope"></span>&nbsp;SIGN UP FOR EMAIL</p></a></p>
        <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-phone"></span>STUDENT DISCOUNTS</p></a></p>
        <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-globe"></span>&nbsp;SEND US FEEDBACK/p></a></p>
      </div>
      <div class="col-md-4">
        <p><a href="#"id="links"><h3 >GET HELP</h3></a></p>
        <p><a href="#" id ="links"><p>Order Status</p></a></p>
        <p><a href="#" id ="links"><p>Delivery</p></a></p>
        <p><a href="#" id ="links"><p>Payment options</p></a></p>
        <p><a href="#" id ="links"><p>Contact Us</p></a></p>
      </div>
      <div class="col-md-4">
        <p><a href="#" id ="links"><h3>Stay in Touch</h3></a></p><hr>
        <a href="#" class="fa fa-facebook"></a>&nbsp;
        <a href="#" class="fa fa-twitter"></a>&nbsp;
        <a href="#" class="fa fa-youtube"></a>&nbsp;
        <a href="#" class="fa fa-linkedin"></a>&nbsp;
        <a href="#" class="fa fa-pinterest"></a>&nbsp;
       
      <form>	<label><input type="email" class="form-control" style="width:300px;" placeholder="Subscribe for Updates"></label>
        <button class="btn btn-success" style="margin-top:-4px;">Subscribe</button></form><br>
        <h4 class="copy">&copy; 2019 Copyrights: PAVANKALYAN</h4>
      </div>
    </div>
  </div>
</body>
</html>
