<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishlist</title>
</head>
<body>
    <div class="m1">
        <a routerLink="/home"><h2><i class="fa-solid fa-arrow-left"></i>Back</h2></a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="./assets\images\men1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4><em>nike air 5</em></h4><br>
              <h6>men's shoes</h6>
              <del>4000</del>&nbsp;<span>$2999</span><br>
              <button class="order">order now</button>
             </div>
          </div>
        </div>
    <div class="col">
        <div class="card">
          <img src=".\assets\images\men3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h4><em>nike weartwo</em></h4><br>
              <h6>casual shoes</h6>
              <del>2700</del>&nbsp;<span>$1499</span><br>
            <button class="order">order now</button>
           </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\t1.jpg"class="card-img-top" alt="...">
          <div class="card-body">
            <h4><em>addidas</em></h4><br>
            <h6>tshrit</h6>
            <del>1200</del>&nbsp;<span>$599</span><br>
            <button class="order">order now</button>
      </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\w5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h4><em>Nike Air Max 2021</em></h4><br>
              <h6>Women's Shoes</h6>
              <del>6850</del>&nbsp;<span>$5533</span><br>
              <button class="order">order now</button>
           </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\wt1.jpg"class="card-img-top" alt="...">
          <div class="card-body">
              <h4><em>Paris Saint-Germain Anthem</em></h4><br>
              <h6>Women's Jacket</h6>
              <del>7000</del>&nbsp;<span>$4999</span><br>
              <button class="order">order now</button>
           </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src=".\assets\images\wt2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h4><em>Nike Sportswear</em></h4>
              <h6>Women's T-Shirt</h6>
              <del>2500</del>&nbsp;<span>$1999</span><br>
              <button class="order">order now</button>
           </div>
        </div>
      </div>
      </div>
</body>
</html>
