body{
  background-image: linear-gradient(+90deg,rgb(88, 169, 223),rgb(216, 189, 216));
  padding: 2%;
  margin-top: 40px; 
  margin-left:40%;
  margin-right:40%;
}
.su{
  text-align: center;
}
.container4
{
  color: rgb(0, 15, 15);
  text-align: center;
padding-top:30px;
}
.sub
{
color: rgb(195, 218, 211);
background-color: rgb(15, 15, 1);
border-radius: 15%;
}
.pk1
{
  border-radius: 10%;
}