<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container5">
    <h1 class="us">LOGIN US</h1><br>
   <p class="pk1"><input  type="text"  class="bg-dark text-white" placeholder="Username"><br></p>
    <p class="pk1"><input  type="text"  class="bg-dark text-white" placeholder="Password"><br></p>
   <button class="sub">SUBMIT</button><br>
   <a href="">Forget Password</a><br>
   Create a Account...<a routerLink="/signup">clik me</a>
  </div>
</body>
</html>
