.about
{
    background-color: black;
    color:aquamarine;
    padding:40px;
}
.about1
{
    
    background-color: black;
    color:aquamarine;
    padding:40px;
}
.feel
{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
}
.img4
{
    padding: 2%;
}
.pack
{
    padding:2px;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lv
{
    text-align: center;
    color: black;
}
h4{
text-align: center;
}
h5{
    background-color: yellow;
    color: black;
    text-align: center;
}
.col-md-4
{
    float: left;
    background-color: black;
    
}
.copy
{
    padding-top:20px;
}