<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
</head>
<body>
    <div class="about">
       <p class="bg-danger text-white">STORIES, STYLE, AND SPORTING GOODS AT pavankalyan, SINCE 1998</p>
Through sports, we have the power to change lives. Sports keep us fit. They keep us mindful. They bring us together. Athletes inspire us. They help us to get up and get moving. And sporting goods featuring the latest technologies help us beat our personal best. adidas is home to the runner, the basketball player, the soccer kid, the fitness enthusiast, the yogi. And even the weekend hiker looking to escape the city. The 3-Stripes are everywhere and anywhere. In sports. In music. On life’s stages. Before the whistle blows, during the race, and at the finish line. We’re here to support creators. To improve their game. To live their lives. And to change the world.

adidas is about more than sportswear and workout clothes. We partner with the best in the industry to co-create. This way we offer our fans the sporting goods, style and clothing that match the athletic needs, while keeping sustainability in mind. We’re here to support creators. Improve their game. Create change. And we think about the impact we have on our world.
</div>
<div class="about1">
  <p class="bg-danger text-white">WORKOUT CLOTHES, FOR ANY SPORT</p>
adidas designs for athletes of all kinds. Creators who love to change the game. People who challenge conventions, break the rules, and define new ones. Then break them all over again. We design sports apparel that gets you moving, winning, and living life to the fullest. We create bras and tights for female athletes who play just as hard as the men. From low to high support. Maximum comfort. We design, innovate and iterate. We test new technologies in action. On the field, the track, the court, and in the pool. We’re inspired by retro workout clothes, creating new streetwear essentials. From NMD and Ozweego to our Firebird tracksuits. From Stan Smith to Superstar. Classic sports models are brought back to life on the streets and the stages around the world.

Through our collections we blur the borders between high fashion and high performance. Like our adidas by Stella McCartney athletic clothing collection – designed to look the part inside and outside of the gym. Or some of our adidas Originals lifestyle pieces, that can be worn as sports apparel too. Our lives are constantly changing. Becoming more and more versatile. And adidas designs with that in mind.
</div>
<div class="img5">
    <img src=".\assets\images\makin.jpg" class="rounded" alt="Cinque Terre" width="1525" height="400"><br>
    <p class="bg-danger text-white">Our purpose, ‘through sport, we have the power to change lives’, guides the way we run our company, how we work with our partners, how we create our products, and how we engage with our consumers. We will always strive to expand the limits of human possibilities, to include and unite people in sport, and to create a more sustainable world.</p>
    <img src=".\assets\images\impossible-6562613__340.webp" class="rounded" alt="Cinque Terre" width="1525" height="400">
    <h2 class="bg-danger text-white">OUR ATTITUDE</h2>
    <P  class="bg-dark text-white">At adidas, we are rebellious optimists driven by action, with a desire to shape a better future together. We see the world of sport and culture with possibility where others only see the impossible. ‘Impossible is Nothing’ is not a tagline for us. By being optimistic and knowing the power of sport, we see endless possibilities to apply this power and push all people forward with action.</P>
    <img src=".\assets\images\ss.jpg" class="rounded" alt="Cinque Terre" width="1525" height="400">
   <p class="bg-dark text-white">Key to our success and the execution of our strategy ‘Own the Game’, are our people and our culture. They bring our identity to life, defined by our purpose, mission, and attitude.
   </p>
</div>
<div class="footer">
    <div class="col-md-12">
      <div class="col-md-4">
        <p><a href="#" id ="links"><h3>FIND A STORE</h3></a></p>
              <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-home"></span>BECOME A MEMBER</p></a></p> 	 	
        <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-envelope"></span>&nbsp;SIGN UP FOR EMAIL</p></a></p>
        <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-phone"></span>STUDENT DISCOUNTS</p></a></p>
        <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-globe"></span>&nbsp;SEND US FEEDBACK/p></a></p>
      </div>
      <div class="col-md-4">
        <p><a href="#"id="links"><h3 >GET HELP</h3></a></p>
        <p><a href="#" id ="links"><p>Order Status</p></a></p>
        <p><a href="#" id ="links"><p>Delivery</p></a></p>
        <p><a href="#" id ="links"><p>Payment options</p></a></p>
        <p><a href="#" id ="links"><p>Contact Us</p></a></p>
      </div>
      <div class="col-md-4">
        <p><a href="#" id ="links"><h3>Stay in Touch</h3></a></p><hr>
        <a href="#" class="fa fa-facebook"></a>&nbsp;
        <a href="#" class="fa fa-twitter"></a>&nbsp;
        <a href="#" class="fa fa-youtube"></a>&nbsp;
        <a href="#" class="fa fa-linkedin"></a>&nbsp;
        <a href="#" class="fa fa-pinterest"></a>&nbsp;
       
      <form>	<label><input type="email" class="form-control" style="width:300px;" placeholder="Subscribe for Updates"></label>
        <button class="btn btn-success" style="margin-top:-4px;">Subscribe</button></form><br>
        <h6 class="copy">&copy; 2019 Copyrights: PAVANKALYAN</h6>
      </div>
    </div>
  </div>
</body>
</html>
