<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my cart</title>
</head>
<body>
    <div class="m1">
        <a routerLink="/home"><h2><i class="fa-solid fa-arrow-left"></i>Back</h2></a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src=".\assets\images\w1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4><em>ASTIR SHOES</em></h4><br>
              <h6>Women's Training Shoes</h6>
              <del>6000</del>&nbsp;<span>$3999</span><br>
             <button class="order2">order now</button>
             </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src=".\assets\images\w3.jpg"class="card-img-top" alt="...">
              <div class="card-body">
                  <h4><em>aNike Icon Classic</em></h4><br>
                  <h6>Women's sandlas</h6>
                  <del>8000</del>&nbsp;<span>$5699</span><br>
                  <button class="order2">order now</button>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src=".\assets\images\men3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4><em>nike weartwo</em></h4><br>
                  <h6>casual shoes</h6>
                  <del>2700</del>&nbsp;<span>$1499</span><br>
                  <button class="order2">order now</button>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src=".\assets\images\men7.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4><em>nike weare duo</em></h4><br>
                  <h6>casual's shoes</h6>
                  <del>6000</del>&nbsp;<span>$3999</span><br>
                  <button class="order2">order now</button>
          </div>
            </div>
          </div>
          <div class="col">
              <div class="card">
                <img src=".\assets\images\men9.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                  <h4><em>nike air mem</em></h4><br>
                <h6>sports shoes</h6>
                <del>9000</del>&nbsp;<span>$5999</span><br>
                <button class="order2">order now</button>
            </div>
              </div>
            </div>
          </div>
         <h2><a href=""><button class="bg-warning text-white">total amount</button></a></h2>
</body>
</html>
