<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>home</title>
</head>
<body>
  <div class="header">
    <div class="menu-bar">
      <nav class="navbar">
          <a class=pk><h1>PAVANKALYAN</h1></a>
          <form class="d-flex">
            <input type="email" class="form-control" style="width:300px;" placeholder="search your store">&nbsp;
            <button class="btn btn-success" style="margin-top:-4px;">Search</button>
            </form>
           </nav>
           </div>
         </div>
         <div class="row">
          <div class="container">
            <div class="menu">
              <ul>
                <li><a routerLink="/home" >HOME</a></li>
                <li><a routerLink="/men">MEN</a></li>
                <li><a routerLink="/women">WOMEN</a></li>
                <li><a routerLink="/contactus">CONTACTUS</a></li>
                <li><a routerLink="/aboutus">ABOUTUS</a></li>
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a routerLink="/signup">SIGNUP</a></li>
                <li><a routerLink="/wishlist"><i class="fas fa-heart"></i>WISHLIST</a></li>
                <li><a routerLink="/mycart"><i class="fa-solid fa-cart-shopping"></i>MYCART</a></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>	
        </div>  
        <router-outlet></router-outlet>                                                                            
        </body>
       </html>
<!-- <app-aboutus></app-aboutus>
  <app-contactus></app-contactus>
  <app-login></app-login>
  <app-men></app-men>
  <app-mycart></app-mycart>
  <app-signup></app-signup>
  <app-wishlist></app-wishlist>
  <app-women></app-women>
  <app-home></app-home> -->

