body{
    padding: 2%;
  margin-top: 30px; 
  margin-left:35%;
  margin-right:35%;
}
.conatiner6
{
    background-image: linear-gradient(-90deg,rgb(169, 198, 202),rgb(196, 192, 195));
    text-align: center;

}
.sub2
{
    color: black;
    background-color: rgb(92, 183, 199);
    border-radius: 5px;
}
h2{
    color: rgb(50, 182, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}