body{
    padding: 2%;
    margin-top: 40px; 
    margin-left:30%;
    margin-right: 30%;
    border:20% solid rgb(34, 216, 223);
}
.container4
{
    color: rgb(0, 15, 15);
    text-align: center;
  padding-top:20px;
}
.sub
{
color: rgb(195, 218, 211);
background-color: rgb(15, 15, 1);
border-radius: 15%;
}
.pk1
{
    border-radius: 10%;
}