<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div cass="carousel-item active">
        <img src=".\assets\images\pk1.jpeg"  width="1600" height="500">
      </div>
      <div class="carousel-item">
        <img src=".\assets\images\women.jpg"  width="1600" height="500">
      </div>
      <div class="carousel-item">
        <img src=".\assets\images\child1.jpg"  width="1550" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
<marquee>  <h1>WHO ARE YOU SHOPPING FOR?</h1></marquee>
<div class="card-group">
  <div class="card">
    <img src=".\assets\images\down1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a routerLink="/men"><h5>Men</h5></a>
    </div>
  </div>
  <div class="card">
    <img src=".\assets\images\down2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
     <a routerLink="/women"><h5>Women</h5></a>
    </div>
  </div>
  <div class="card">
    <img src=".\assets\images\child1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a routerLink="/men"><h5>kids</h5></a>
    </div>
  </div>
</div>
<div class="feel">
  <h1>Icon Clash Collection</h1>
  </div>
  <div class="img4">
<a href="/men"><img src=".\assets\images\kk.png" width="1470px"></a>
</div>
<div class="pack">
<h1>Feel The Love</h1>
</div>
<h6 class="lv">Everlasting Love Pack</h6>
<a routerLink="/men"><h4>Shop Now</h4></a>
<div class="card-group">
  <div class="card">
   <a routerLink="/men"><img src=".\assets\images\addi.jpg"  width="500px" height="600px"></a>
    <div class="card-body">
      <em>Adidas Air Force 1 '07 LV8<br>
Men's Shoes<br>
$3400</em>
      <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
      <a routerLink="/mycart"><h5>Add Cart</h5></a>
    </div>
  </div>
  <div class="card">
    <a routerLink="/women"><img src=".\assets\images\basketball-6299032_960_720.jpg" width="500px" height="600px"></a>
    <div class="card-body">
     <em>Nike Sportswear<br>
Men's French Terry Crew<br>
$3000</em>
      <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
      <a routerLink="/mycart"><h5>Add Cart</h5></a>
    </div>
  </div>
  <div class="card">
    <a routerLink="/men"><img src=".\assets\images\manika.jpg"  width="500px" height="600px"></a>
    <div class="card-body">
     <em>Nike Pegasus Trail 3 GORE-TEX<br>
Men's Waterproof Trail Running Shoes<br>
$2500</em>
      <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
      <a routerLink="/mycart"><h5>Add Cart</h5></a>
    </div>
  </div>
</div>
 <div class="footer">
  <div class="col-md-12">
    <div class="col-md-4">
      <p><a href="#" id ="links"><h3>FIND A STORE</h3></a></p>
            <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-home"></span>BECOME A MEMBER</p></a></p> 	 	
      <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-envelope"></span>&nbsp;SIGN UP FOR EMAIL</p></a></p>
      <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-phone"></span>STUDENT DISCOUNTS</p></a></p>
      <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-globe"></span>&nbsp;SEND US FEEDBACK/p></a></p>
    </div>
    <div class="col-md-4">
      <p><a href="#"id="links"><h3 >GET HELP</h3></a></p>
      <p><a href="#" id ="links"><p>Order Status</p></a></p>
      <p><a href="#" id ="links"><p>Delivery</p></a></p>
      <p><a href="#" id ="links"><p>Payment options</p></a></p>
      <p><a href="#" id ="links"><p>Contact Us</p></a></p>
    </div>
    <div class="col-md-4">
      <p><a href="#" id ="links"><h3>Stay in Touch</h3></a></p><hr>
      <a href="#" class="fa fa-facebook"></a>&nbsp;
      <a href="#" class="fa fa-twitter"></a>&nbsp;
      <a href="#" class="fa fa-youtube"></a>&nbsp;
      <a href="#" class="fa fa-linkedin"></a>&nbsp;
      <a href="#" class="fa fa-pinterest"></a>&nbsp;
     
    <form>	<label><input type="email" class="form-control" style="width:300px;" placeholder="Subscribe for Updates"></label>
      <button class="btn btn-success" style="margin-top:-4px;">Subscribe</button></form><br>
      <h4 class="copy">&copy; 2019 Copyrights: PAVANKALYAN</h4>
    </div>
  </div>
</div>
</body>
</html>
   