h1{
    padding-left: 5%;
    padding-top: 2%;
}
.img
{
    padding-top: 3%;
}
.img1
{
    padding-left: 70px;
}
.img2
{
    padding-left: 70px;
}
.img3
{
    padding-left: 80px;
}
.feel
{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
}
.img4
{
    padding: 2%;
}
.pack
{
    padding:2px;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lv
{
    text-align: center;
}
h4{
text-align: center;
}
h5{
    background-color: yellow;
    color: black;
    text-align: center;
}
.col-md-4
{
    float: left;
    background-color: black;
}
.copy
{
    padding-top:14px;
}