<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="m1">
        <a routerLink="/home"><h2><i class="fa-solid fa-arrow-left"></i>Back</h2></a>
    </div>
    <h2>New Arriavals</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src=".\assets\images\w1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4><em>ASTIR SHOES</em></h4><br>
              <h6>Women's Training Shoes</h6>
              <del>6000</del>&nbsp;<span>$3999</span>
              <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
              <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\w2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Free Metcon 4</em></h4><br>
                <h6>Women's Training Shoes</h6>
                <del>4000</del>&nbsp;<span>$2999</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\w3.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>aNike Icon Classic</em></h4><br>
                <h6>Women's sandlas</h6>
                <del>8000</del>&nbsp;<span>$5699</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\w4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Air Zoom Terra Kiger 8</em></h4><br>
                <h6>Women's Trail Running Shoes</h6>
                <del>4520</del>&nbsp;<span>$2699</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\w2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Air Max 2021</em></h4><br>
                <h6>Women's Shoes</h6>
                <del>4500</del>&nbsp;<span>$3999</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\w5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Air Max 2021</em></h4><br>
                <h6>Women's Shoes</h6>
                <del>6850</del>&nbsp;<span>$5533</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\wt1.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Paris Saint-Germain Anthem</em></h4><br>
                <h6>Women's Jacket</h6>
                <del>7000</del>&nbsp;<span>$4999</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\wt2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Sportswear</em></h4>
                <h6>Women's T-Shirt</h6>
                <del>2500</del>&nbsp;<span>$1999</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\wt3.jpg"class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Dri-FIT Swoosh Run</em></h4><br>
                <h6>Women's Short-Sleeve Running Top</h6>
                <del>6520</del>&nbsp;<span>$2500</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\wp1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Jordan x Paris Saint-Germain</em></h4><br>
                <h6>Women's Fleece Trousers</h6>
                <del>4520</del>&nbsp;<span>$3659</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\wp2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Dri-FIT One Luxe</em></h4><br>
                <h6>Women's Mid-Rise 7/8 Leggings</h6>
                <del>5200</del>&nbsp;<span>$3999</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src=".\assets\images\wp3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><em>Nike Dri-FIT Tempo</em></h4>
                <h6>Women's Printed Running Shorts</h6>
                <del>15500</del>&nbsp;<span>$63588</span>
                <a routerLink="/wishlist"><h5>Add Wishlist</h5></a>
                <a routerLink="/mycart"><h5>Add Cart</h5></a>
             </div>
          </div>
        </div>
        </div>
        <div class="footer">
          <div class="col-md-12">
            <div class="col-md-4">
              <p><a href="#" id ="links"><h3>FIND A STORE</h3></a></p>
                    <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-home"></span>BECOME A MEMBER</p></a></p> 	 	
              <p><a href="#" id ="links"><p><span class="glyphicon glyphicon-envelope"></span>&nbsp;SIGN UP FOR EMAIL</p></a></p>
              <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-phone"></span>STUDENT DISCOUNTS</p></a></p>
              <p> <a href="#" id ="links"><p><span class="glyphicon glyphicon-globe"></span>&nbsp;SEND US FEEDBACK</p></a></p>
            </div>
            <div class="col-md-4">
              <p><a href="#"id="links"><h3 >GET HELP</h3></a></p>
              <p><a href="#" id ="links"><p>Order Status</p></a></p>
              <p><a href="#" id ="links"><p>Delivery</p></a></p>
              <p><a href="#" id ="links"><p>Payment options</p></a></p>
              <p><a href="#" id ="links">Contact U</a></p>
            </div>
            <div class="col-md-4">
              <p><a href="#" id ="links"><h3>Stay in Touch</h3></a></p><hr>
              <a href="#" class="fa fa-facebook"></a>&nbsp;
              <a href="#" class="fa fa-twitter"></a>&nbsp;
              <a href="#" class="fa fa-youtube"></a>&nbsp;
              <a href="#" class="fa fa-linkedin"></a>&nbsp;
              <a href="#" class="fa fa-pinterest"></a>&nbsp;
             
            <form>	<label><input type="email" class="form-control" style="width:300px;" placeholder="Subscribe for Updates"></label>
              <button class="btn btn-success" style="margin-top:-4px;">Subscribe</button></form><br>
              <h4 class="copy">&copy; 2019 Copyrights: PAVANKALYAN</h4>
            </div>
          </div>
        </div>
</body>
</html>